.trat_form{
	overflow: auto; 
	height: 230px; 
/*	border: 2px solid red;*/
}

.rcorners1 {
	border: 2px solid #84acea;
    padding: 20px;
    width: 200px;
    height: 
   	overflow: scroll;

}

select:invalid { color: gray; }

.line{
	border: 2px solid #84acea;

}
